.field-validation-error {color:#ff0000; }

.field-validation-valid {display:none; }

.input-validation-error {border:1px solid #ff0000;background-color:#ffeeee; }

.validation-summary-errors {font-weight:bold;color:#ff0000; }

.validation-summary-valid {display:none;}

.x-grid-checkheader {
    height:14px;
    background-image:url(../../../../images/unchecked.gif);
    background-position:50% -2px;
    background-repeat:no-repeat;
    background-color:transparent;
}

.x-form-item-hidden {display: none;}

.x-grid-row-summary .x-grid-cell{color:null;font:normal 12px/15px tahoma,arial,verdana,sans-serif;background-color:white;border-color:#ededed;border-style:solid;border-top-color:#fafafa;border-width:0}

.x-grid-checkheader-checked {background-image:url(../../../../images/checked.gif); }

.x-grid-checkheader-editor .x-form-cb-wrap {text-align:center; }

.editdisabled {cursor:default;background-image:none;background-color:#FEFE9E;}

textarea.editdisabled {cursor:default;background-image:none;background-color:#FEFE9E;}

body {margin:0;padding:0;height:100%}

.x-btn .direction-asc {background-image:url("../images/grid/sort_asc.gif");background-position:4px 6px !important;}

.x-btn .direction-desc {background-image:url("../images/grid/sort_desc.gif");background-position:4px 6px !important;}

.x-tab button .x-tab-inner{height:16px;line-height:16px;margin-top:0px;}
.x-btn .x-btn-center .x-btn-inner{text-align:center;}
.x-btn-inner{margin-top:0px;}
.x-tab button{font-size:12px;height:16px}

.x-border-box .x-tab-default-top{height:24px}
.x-border-box .x-tab-bar-top .x-tab-bar-body{height:25px}
.x-border-box .x-tab-bar-top .x-tab-bar-strip{height:1px}
.x-tab-bar-body{background-color:#dfe8f6;}
.icon-component{background:url(../../../../images/icons.png) no-repeat -3px -137px!important;margin-top:-2px;}

.alertindex {position:absolute !important;z-index:1000000 !important;}

.x-grid-row,.x-grid-cell,.x-unselectable,.x-unselectable * {
 -webkit-user-select: text !important;
 -o-user-select: text !important;
 -khtml-user-select: all !important;
 -ms-user-select: text !important;
 user-select: text !important;
 -moz-user-select: text !important;
}

.x-toolbar{border-left:1px solid;border-right:1px solid;border-top:0px solid;border-bottom:0px solid;}
.x-toolbar-footer{border:0px;}

/* check combo */ 
.x-combo-checker { background-position: 50% -2px; margin-left: 1px; background-color: transparent; background-image: url("../images/grid/unchecked.gif"); background-position: -1px -1px; background-repeat: no-repeat; height: 14px; width: 14px; display: inline-block; } 
.x-boundlist-selected .x-combo-checker { background-image: url("../images/grid/checked.gif"); }

.x-tab-tabmenu-right {
    background: transparent url('../../../../images/tab-scroller-menu.gif') no-repeat 0 0;
    width:18px;
    height: 20px;
    cursor:pointer;
    zoom: 1;
    z-index: 6;
    float: right;
}
.x-tab-tabmenu-over {background-position:-18px 0;}

.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-column-header 
{ 
    font-size:12px;
    font-family:simsun;
}
    
.item {
    float: left;
    padding: 2px;
    margin: 2px;
}

.x-item-disabled .x-form-item-label,
.x-item-disabled .x-form-field,
.x-item-disabled .x-form-cb-label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* all icons */
.icon-login-reset{margin-left:5px;background:url(../../../../images/refresh.gif) !important;}
.icon-login-user{margin-left:5px;margin-top:-1px;background:url(../../../../images/user.gif) !important;}
.icon-add{margin-top:-1px;background:url(../../../../images/add.gif) !important;}
.icon-edit{margin-top:-1px;background:url(../../../../images/edit.png) !important;}
.icon-refresh{margin-top:-1px;background:url(../../../../images/refresh.gif) !important;}
.icon-export{margin-top:-1px;background:url(../../../../images/export.gif) !important;}
.icon-print{margin-top:-1px;background:url(../../../../images/printer.png) !important;}
.icon-delete{margin-top:-1px;background:url(../../../../images/delete.gif) !important;}
.icon-save{margin-top:-1px;background:url(../../../../images/save.gif) !important;}
.icon-close{margin-top:-1px;background:url(../../../../images/exit.gif) !important;}
.icon-pagerefresh{background:url(../../../../images/pagerefresh.gif) !important;}
.icon-audit{background:url(../../../../images/audit.gif) !important;}
.icon-unaudit{background:url(../../../../images/unaudit.gif) !important;}
.icon-unlock{background:url(../../../../images/unlock.gif) !important;}
.icon-passwd{background:url(../../../../images/passwd.png) !important;}
.icon-find{margin-top:-1px;background:url(../../../../images/find.png) !important;}
.icon-deal{margin-top:-1px;background:url(../../../../images/deal.png) !important;}
.icon-list{background:url(../../../../images/list.png) !important;}
.icon-reset{margin-top:-1px;background:url(../../../../images/reset.png) !important;}
.icon-prev{margin-top:-1px;background:url(../../../../images/prev.png) !important;}
.icon-next{margin-top:-1px;background:url(../../../../images/next.png) !important;}
.icon-scan{background:url(../../../../images/scan.png) !important;}
.icon-exit{margin-top:-1px;background:url(../../../../images/exit.gif) !important;}
.icon-excel{background:url(../../../../images/excel.png) !important;}
.icon-sql{background:url(../../../../images/sql.png) !important;}
.icon-outlook{background:url(../../../../images/outlook.gif) !important;}
.icon-soft{background:url(../../../../images/soft.gif) !important;}
.icon-cancel{background:url(../../../../images/cancel.png) !important;}
.icon-valid{background:url(../../../../images/valid.gif) !important;}
.icon-invalid{background:url(../../../../images/invalid.gif) !important;}
.icon-chartbar{background:url(../../../../images/chart_bar.png) !important;}
.icon-chartline{background:url(../../../../images/chart_line.png) !important;}
.icon-chartpie{background:url(../../../../images/chart_pie.png) !important;}

.miuser{background:url(../../../../images/mi/miuser.gif) no-repeat !important;}
.miorg{background:url(../../../../images/mi/miorg.gif) no-repeat !important;}
.milog{background:url(../../../../images/mi/milog.gif) no-repeat !important;}
.miset{background:url(../../../../images/mi/miset.gif) no-repeat !important;}
